


h1,
h2{
    color: #333;
}

label{
    color: #ff9933;
}

/* Navbar */
.navbar-brand {
    position: relative;
}

#logo {
    width: 50px;
}

#travelmatehelp-title {
    color: #fff;
    position: absolute;
    bottom: -2px;
    font-size: 23px;
    left: 55px;
    font-weight: bold;
}

#main-navbar{
    background-color: #3385ff;
}

#search-form{
    margin: 0 auto;
    background-color:#fff;
    border-radius: 5px;
    width: 50%;
    margin-left:180px;
}

.form-control{
  border: 2px solid #333; 
}

#search-form .form-control{
    border: none;
    width: 90%;
    box-shadow: none;
}

#navbar {
    min-width: 30%;
}

.navbar-nav{
    justify-content: flex-end;
    width: 100%;
}

.navbar-nav .nav-item .nav-link{
    color: #fff;
    transition: .5s;
}

.navbar-nav .nav-item .nav-link:hover{
    color: #000
}

.bold {
    font-weight: bold;
}

.msg-container{
    background-color: #3385ff;
    padding: 15px;
}

.msg {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border: solid 1px #000;
    text-align: center;
  }
  
  .msg.error {
    color: #842029;
    background-color: #F8D7DA;
    border-color: #F5C2C7;
  }
  
  .msg.success {
    color: #0F5132;
    background-color: #D1E7DD;
    border-color: #BADBCC;
  }
/* Home */

#main-container{
    background-color:#fff;
    color: #ff9933;
    min-height: 65vh;
    padding: 40px;
}
.section-title {
  font-size: 24px;
  border-left: 4px solid #ff9933;
  
  padding-left: 12px;
  margin-top: 20px;
}

.section-description {
  color: #000;
  font-size: 18px;
}

.relatos-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.relato-card {
  background-color: #3385ff;
  width: 18%;
  margin-bottom: 30px;
  margin-left: 1%;
  margin-right: 1%;
}

.relato-card .card-img-top {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.card-title {
  height: 3rem;
}

.card-title a {
  font-size: 16px;
  color: #FFF;
}

.fas.fa-star {
  color: #ff9933;
}

.rating {
  color: #CCC;
}

.rate-btn {
  margin-bottom: 15px;
  color: #5799EF;
  background-color: #333;
  border-color: #333;
  width: 100%;
  font-weight: bold;
}

.rate-btn:hover {
  background-color: #444;
  border-color: #444;
}

.empty-list {
  text-align: center;
  font-size: 18px;
  width: 100%;
  font-weight: bold;
}

/* Login / Register */
#auth-row {
    justify-content: space-evenly;
  }
  
  #login-container h2,
  #register-container h2 {
    text-align: center;
    border-bottom: 2px solid #ff9933;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
  }
  
  #login-container form,
  #register-container form {
    max-width: 400px;
    margin: 30px auto;
  }
  
  .card-btn {
    color: #ffffff; /* Branco para o texto */
    background-color: #ff9933; /* Laranja vibrante */
    border: 2px solid #ff9933; /* Bordas no mesmo tom de laranja */
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  
  .card-btn:hover {
    background-color: #cc7a29; /* Laranja mais escuro para o efeito hover */
    color: #ffffff; /* Mantém o texto branco */
    border-color: #cc7a29; /* Bordas no mesmo tom do fundo no hover */
  }

 
/* Edit Profile */
#profile-image-container,
.profile-image-container {
  width: 150px;
  height: 150px;
  border: 6px solid #ff9933;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  margin: 15px auto;
}

.profile-image-container {
  width: 70px;
  height: 70px;
}

.page-description {
  color: #999;
}

#bio {
  max-width: 400px;
}

.form-control.disabled {
  background-color: #BBB;
}

#change-password-container {
  margin-top: 30px;
}

.edit-profile-page .card-btn,
#add-relato-container .card-btn,
#review-form .card-btn,
#edit-relato-form .card-btn {
  width: auto;
}

/* Profile */
.profile-container {
  justify-content: center;
}

.profile-container .profile-image {
  margin: 20px auto;
}

.about-title {
  color: #CCC;
}

.profile-description {
  max-width: 500px;
  margin: 20px auto;
}

.added-relatos-container,
.about-container {
  padding-top: 20px;
}

.about-container {
  text-align: center;
  background-color: #333;
  border-bottom: 3px solid #CCC;
}

.added-relatos-container {
  background-color: #333;
}

.added-relatos-container .relatos-container {
  padding: 20px;
}

.added-relatos-container .relato-card {
  width: 31%;
}

/* New Relato */
.new-relato-container {
  text-align: center;
}

#add-relato-form {
  text-align: left;
}

#descricao-relato{
  margin: 10px;
  padding: 8px;
}

.relato-image-container {
  height: 400px;
  min-width: 200px;
  background-position: center;
  background-size: cover;
}

.page-title:after {
  content: "";
  width: 300px;
  border-bottom: 2px solid #ff9933;
  display: block;
  margin: 0 auto;
  padding-top: 7px;
}

/* Relato */
.relato-container {
  text-align: center;
}

.relato-details {
  margin: 25px 0;
}

.pipe {
  border: 1px solid #333;
  margin: 0 10px;
}

#reviews-title {
  margin-bottom: 25px;
}

#review-form-container {
  background-color: #333;
  padding: 20px;
}

#review-form-container select,
#review-form-container textarea {
  width: 50%;
}

#reviews-container {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 4px solid #ff9933;
}

.review {
  padding: 20px 0;
  border-bottom: 1px solid #333;
}

.author-details-container {
  padding-top: 20px;
}

.author-name a {
  color: #ff9933;
}

.comment-title {
  color: #000;
}

/* Dashboard */
#add-relato-container {
  text-align: right;
}

#relatos-dashboard .table {
  color: #000;
}

#relatos-dashboard .table th {
  border-top: none;
}

#relatos-dashboard .table tr {
  padding: 15px 0;
}

.table-relato-title {
  color: #000;
  font-weight: bold;
  transition: .5s;
}

.table-relato-title:hover {
  color: #ff9933;
}

.actions-column {
  max-width: 75px;
  text-align: center;
}

.actions-column form {
  display: inline-block;
}

.edit-btn,
.delete-btn {
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 5px;
  font-weight: bold;
  transition: .5s;
  border: none;
}

.edit-btn {
  background-color: #0DCAF0;
  color: #FFF;
}

.edit-btn:hover {
  background-color: transparent;
  color: #0DCAF0;
  text-decoration: none;
}

.delete-btn {
  background-color: #DC3545;
  color: #FFF;
}

.delete-btn:hover {
  background-color: transparent;
  color: #DC3545;
  text-decoration: none;
}

#descricao-relato {
  font-size: 14px;

  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
  margin: 5px;
  max-height: 100px;
  color: #333;
  background-color: #f9f9f9;
}

/* Search */
#search-title {
  font-size: 40px;
}

#search-result,
.back-link {
  color: #ff9933;
}

/* Footer */
#footer {
  background-color: #3385ff;
  color: #FFF;
  text-align: center;
  margin: 0;
  padding: 20px;
}

#social-container ul,
#footer-links-container ul {
  list-style-type: none;
  padding: 0;
}

#social-container li,
#footer-links-container li {
  display: inline-block;
  margin: 0 20px;
}

#social-container li {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  transition: .5s;
  line-height: 3;
}

#social-container li:hover {
  background-color: #333;
}

#social-container a,
#footer-links-container a {
  color: #FFF;
  transition: .5s;
}

#social-container li i {
  font-size: 25px;
}

#footer-links-container {
  margin: 30px 0;
}

/* Responsivo */
@media(max-width: 450px) {

  #main-container {
    padding: 20px;
  }

  /* Home */
  #search-form {
    width: 100%;
    margin-left: 0;
  }

  #search-form .form-control {
    width: 85%;
  }

  .section-title {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }

  .relatos-container {
    padding: 0 15px;
  }

  .relato-card {
    width: 100%;
  }

  .relato-details {
    display: flex;
    flex-direction: column;
  }

  .relato-details span {
    padding-bottom: 8px;
  }

  .pipe {
    display: none;
  }

  .relato-container iframe {
    max-width: 100% !important;
  }

  #reviews-container {
    padding-left: 0;
    padding-right: 0;
  }

  #review-form-container select,
  #review-form-container textarea {
    width: 100%;
  }

  .empty-list {
    margin-top: 20px;
  }

  .msg {
    width: 100%;
  }

  /* Relato */
  .review {
    padding: 0 15px;
  }

  /* Dashboard */
  #relatos-dashboard {
    padding: 0;
  }

  .actions-column {
    width: 140px;
  }

  .edit-btn {
    display: block;
    margin-bottom: 10px;
  }

  /* Edit relatos */
  .relato-image-container {
    margin-top: 1rem;
  }

  .fas.fa-bars {
    color: #ff9933;
  }

}

/* Orientacoes */

.container-orientacao {
  padding: 20px;
  background-color: #f9f9f9;
}

.container-orientacao h2 {
  font-size: 24px;
  color: #333;
}

.img-orientacao {
  margin-bottom: 20px;
}

.img-orientacao figure {
  display: block;
  text-align: center;
}

.img-orientacao img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.img-orientacao figcaption {
  font-style: italic;
  font-size: 14px;
  color: #000;
  margin-top: 10px;
}

.img-orientacao p {
  font-size: 16px;
  color: #555;
  margin-top: 10px;
}

/* Api Clima */

#container-temp {
    background-color: #f0f8ff;
    border-radius: 20px;
    padding: 18px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

#search-temp {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    padding: 4px 12px;
}

#search-temp input {
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 100%;
}

#search-temp input:focus-visible {
    outline: none;
}

#search-temp button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#weather {
    display: none;
    margin-top: 20px;   
}

#weather.show {
    display: block;
}

#weather #title {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600;
    color: #372f3f;
}

#temp {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    background: linear-gradient(90deg, #5a7cdc, #606dde);
    color: #fff;
    border-radius: 20px;
    padding: 20px;
}

#temp_img {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}

#temp_value {
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
}

#temp_description {
    font-weight: 500;
    text-transform: capitalize;
}

#other_infos {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

#other_infos .info {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 4px 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    gap: 10px;
}

#other_infos .info h2 {
    font-size: 12px;
    font-weight: 600;
}

#other_infos .info i {
    text-align: center;
    font-size: 20px;
    width: 20%;
}

#temp_max_icon {
    color: #7f1d1d;
}

#temp_min_icon {
    color: #0284c7;
}

#humidity_icon {
    color: #0ea5e9;
}

#wind_icon {
    color: #ff9933;
}

#alert {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#alert img {
    width: 200px;
    margin-top: 20px;
}

/* HELP */

.container-info h2 {
  /* background-color: #fff; */
  border: 2px solid #ff9933;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

#title-help{
  margin: 10px;
}

.container-info h2::before {
  content: "▶";
  margin-right: 5px;
}



.container-info.open .esconder-detalhes {
  display: block; /* Exiba os detalhes quando o h2 estiver com a classe open */
}

.esconder-detalhes {
  background-color: #fff;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: -10px 0 10px -10px #000, 10px 0 10px -10px #000;
  padding-bottom: 10px;
  margin-bottom: 6px;
  margin-top: 6px;
}


.esconder-detalhes p,
.esconder-detalhes ul,
.esconder-detalhes li {
  color: #000;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
 
  list-style-type: none;
}

